<header>

  <div class="logo">
      <picture>
          <img class="lazy" src="./images/placeholder.jpg" data-src="./images/bountiful_foods_logo.jpg" alt="Bountiful Foods Logo">
      </picture>
      <section class="headings">
          <h1>Bountiful Foods</h1>
          <q class="Slogan">The Freshest Fruits in the Golden Coast!</q>
      </section>
      
  </div>
  
  <nav>
      <ul class="navigation">
          <li><a class="ham" href="#">&#9776;</a></li>
          <li><a href="index.html">Home</a></li>
          <li><a href="fresh.html">Make Your Drink!</a></li>
          <li><a href="aboutUs.html">About Us</a></li>
      </ul>
  </nav>  
  </div>
  <p>Find us at 555 Fruit Lane Carslbad, California<br>
      Call us at 555-253-8945<br> Email us at BountifulFoods@Gmail.com
  </p>
  

</header>